<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/traprange/src/main/java/com/giaybac/traprange/MAIN.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.giaybac.traprange.MAIN"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\jorge\Desktop\traprange-master\traprange-master\Descargas2.pdf"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="traprange"/>
</launchConfiguration>
